<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <source>txt</source>
    <txt>
        <path>G:\bemühen\daten\petroleum\AB\oil_pressure_test\oil_pressure_test_small.txt</path>
    </txt>
    <mysql>
        <username>	^/Q&amp;[|iUu.Q</username>
        <password>R+R7\c</password>
        <hostname>localhost</hostname>
    </mysql>
</configuration>
